./dockers/*.egg-info
./dockers/*.pyc
./dockers/*.swo
./dockers/*.swp
./dockers/.cache
./dockers/.coverage*
.DS_Store
.idea
tags

./dockers/.tox
./dockers/binaries
./dockers/build
./dockers/compose/GITSHA
./dockers/coverage-html
./dockers/dist
./dockers/docs/_site
./dockers/README.rst
./dockers/*venv